*{
  margin: 0;
  padding: 0;
}

#cont-carga{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(113, 48, 142, 0.9);
}

.logo{
  background-image: url(../assets/images/logo-white.png);
  width: 40vw;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 150px auto;
}

.container{
  background-image: url(../assets/images/lyft2.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1000;
}
